<h1>New subtraction</h1>
<form action="/wizard_subtract">
  <label for="form_first_number">
    Subtract this:
  </label>
  <input type="text" name="first_num" id="form_first_number">
  <label for="form_second_number">
    from this:
  </label>
  <input type="text" name ="second_num" id="form_second_number">
  <button>Subtract!</button>

</form>
